<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <!--
  -->
  <meta name="google-signin-client_id" content="746808954149-mu74s1grf761cam0o3p3r696vk8dq4an.apps.googleusercontent.com">
  <meta name="google-signin-scope" content="profile email">
  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="//connect.facebook.net/en_US/sdk.js"></script>
  
  
<!--
<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1571352759575292',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.4'
      });
      FB.AppEvents.logPageView();   
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
-->
  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>


  <%= htmlWebpackPlugin.files.webpackManifest %>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>
  
  <!-- Async Google Analytics: change UA-71073175-1 to be your site's ID -->
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-71073175-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script async src="https://www.google-analytics.com/analytics.js"></script>
  <!-- End Google Analytics -->

  <!-- CSS will be injected by webpack here -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Preload link tags will be injected by webpack here -->
</head>

<body>

  <app>
    Loading...
  </app>

  <!-- Scripts will be injected by webpack here -->
</body>
</html>
